.chart-symbol{ 
  -fx-background-radius: 2px;
  -fx-padding: 2px;
  -fx-shape: "M0 0 L0 4 L4 4 L4 0 L0 0 Z";
}

.chart-legend-item-symbol{
  -fx-background-radius: 5px;
  -fx-padding: 5px;
}

.default-color0.chart-symbol { -fx-background-color: #66c2a5; }
.default-color1.chart-symbol { -fx-background-color: #fc8d62; }
.default-color2.chart-symbol { -fx-background-color: #8da0cb; }
.default-color3.chart-symbol { -fx-background-color: #e78ac3; }
.default-color4.chart-symbol { -fx-background-color: #a6d854; }
.default-color5.chart-symbol { -fx-background-color: #ffd92f; }
.default-color6.chart-symbol { -fx-background-color: #e5c494; }

.default-color0-selected-chart-symbol { -fx-background-color: #307962 !important; }
.default-color1-selected-chart-symbol { -fx-background-color: #db3f04 !important; }
.default-color2-selected-chart-symbol { -fx-background-color: #445c94 !important; }
.default-color3-selected-chart-symbol { -fx-background-color: #c9298a !important; }
.default-color4-selected-chart-symbol { -fx-background-color: #648d20 !important; }
.default-color5-selected-chart-symbol { -fx-background-color: #af8e00 !important; }
.default-color6-selected-chart-symbol { -fx-background-color: #c88b31 !important; }

.default-color-1-status-symbol { -fx-fill: #dddddd !important; }
.default-color0-status-symbol { -fx-fill: #1f78b4 !important; }
.default-color1-status-symbol { -fx-fill: #33a02c !important; }
.default-color2-status-symbol { -fx-fill: #e31a1c !important; }
.default-color3-status-symbol { -fx-fill: #ff7f00 !important; }
.default-color4-status-symbol { -fx-fill: #6a3d9a !important; }
.default-color5-status-symbol { -fx-fill: #ffff99 !important;  }
.default-color6-status-symbol { -fx-fill: #b15928 !important; }
.default-color7-status-symbol { -fx-fill: #a6cee3 !important; }
.default-color8-status-symbol { -fx-fill: #b2df8a !important; }
.default-color9-status-symbol { -fx-fill: #fb9a99 !important; }
.default-color10-status-symbol { -fx-fill: #fdbf6f !important; }
.default-color11-status-symbol { -fx-fill: #cab2d6 !important; }
