.chart-symbol{ 
  -fx-background-radius: 2px;
  -fx-padding: 2px;
  -fx-shape: "M0 0 L0 4 L4 4 L4 0 L0 0 Z";
}

.chart-line-symbol { 
  -fx-background-radius: 2px;
  -fx-padding: 2px;
  -fx-shape: "M0 0 L0 4 L4 4 L4 0 L0 0 Z";
}

.chart-legend-item-symbol{
  -fx-background-radius: 5px;
  -fx-padding: 5px;
}

.default-color0.chart-symbol { -fx-background-color: #66c2a5; }
.default-color1.chart-symbol { -fx-background-color: #fc8d62; }
.default-color2.chart-symbol { -fx-background-color: #8da0cb; }
.default-color3.chart-symbol { -fx-background-color: #e78ac3; }
.default-color4.chart-symbol { -fx-background-color: #a6d854; }
.default-color5.chart-symbol { -fx-background-color: #ffd92f; }
.default-color6.chart-symbol { -fx-background-color: #e5c494; }

.default-color0.chart-line-symbol  { -fx-background-color: #66c2a5; }
.default-color1.chart-line-symbol  { -fx-background-color: #fc8d62; }
.default-color2.chart-line-symbol  { -fx-background-color: #8da0cb; }
.default-color3.chart-line-symbol  { -fx-background-color: #e78ac3; }
.default-color4.chart-line-symbol  { -fx-background-color: #a6d854; }
.default-color5.chart-line-symbol  { -fx-background-color: #ffd92f; }
.default-color6.chart-line-symbol  { -fx-background-color: #e5c494; }

.default-color0.chart-series-line  { -fx-stroke: #66c2a5; }
.default-color1.chart-series-line  { -fx-stroke: #fc8d62; }
.default-color2.chart-series-line  { -fx-stroke: #8da0cb; }
.default-color3.chart-series-line  { -fx-stroke: #e78ac3; }
.default-color4.chart-series-line  { -fx-stroke: #a6d854; }
.default-color5.chart-series-line  { -fx-stroke: #ffd92f; }
.default-color6.chart-series-line  { -fx-stroke: #e5c494; }

.default-color0-agent { -fx-fill: #66c2a5 !important; }
.default-color1-agent { -fx-fill: #fc8d62 !important; }
.default-color2-agent { -fx-fill: #8da0cb !important; }
.default-color3-agent { -fx-fill: #e78ac3 !important; }
.default-color4-agent { -fx-fill: #a6d854 !important; }
.default-color5-agent { -fx-fill: #ffd92f !important; }
.default-color6-agent { -fx-fill: #e5c494 !important; }

.default-color0-opponent { -fx-stroke: #66c2a5 !important; -fx-fill: #2F4F4F !important; }
.default-color1-opponent { -fx-stroke: #fc8d62 !important; -fx-fill: #2F4F4F !important; }
.default-color2-opponent { -fx-stroke: #8da0cb !important; -fx-fill: #2F4F4F !important; }
.default-color3-opponent { -fx-stroke: #e78ac3 !important; -fx-fill: #2F4F4F !important; }
.default-color4-opponent { -fx-stroke: #a6d854 !important; -fx-fill: #2F4F4F !important; }
.default-color5-opponent { -fx-stroke: #ffd92f !important; -fx-fill: #2F4F4F !important; }
.default-color6-opponent { -fx-stroke: #e5c494 !important; -fx-fill: #2F4F4F !important; }

.default-color0-opponent-text { -fx-fill: #66c2a5 !important; }
.default-color1-opponent-text { -fx-fill: #fc8d62 !important; }
.default-color2-opponent-text { -fx-fill: #8da0cb !important; }
.default-color3-opponent-text { -fx-fill: #e78ac3 !important; }
.default-color4-opponent-text { -fx-fill: #a6d854 !important; }
.default-color5-opponent-text { -fx-fill: #ffd92f !important; }
.default-color6-opponent-text { -fx-fill: #e5c494 !important; }

.default-color0-agent-line  { -fx-stroke: #66c2a5; }
.default-color1-agent-line  { -fx-stroke: #fc8d62; }
.default-color2-agent-line  { -fx-stroke: #8da0cb; }
.default-color3-agent-line  { -fx-stroke: #e78ac3; }
.default-color4-agent-line  { -fx-stroke: #a6d854; }
.default-color5-agent-line  { -fx-stroke: #ffd92f; }
.default-color6-agent-line  { -fx-stroke: #e5c494; }

.default-color0-ball-line  { -fx-stroke: #66c2a5; }
.default-color1-ball-line  { -fx-stroke: #fc8d62; }
.default-color2-ball-line  { -fx-stroke: #8da0cb; }
.default-color3-ball-line  { -fx-stroke: #e78ac3; }
.default-color4-ball-line  { -fx-stroke: #a6d854; }
.default-color5-ball-line  { -fx-stroke: #ffd92f; }
.default-color6-ball-line  { -fx-stroke: #e5c494; }

.default-color0-opponent-line { -fx-stroke: #66c2a5; }
.default-color1-opponent-line  { -fx-stroke: #fc8d62; }
.default-color2-opponent-line  { -fx-stroke: #8da0cb; }
.default-color3-opponent-line  { -fx-stroke: #e78ac3; }
.default-color4-opponent-line  { -fx-stroke: #a6d854; }
.default-color5-opponent-line  { -fx-stroke: #ffd92f; }
.default-color6-opponent-line  { -fx-stroke: #e5c494; }

.default-color0-selected-chart-symbol { -fx-background-color: #307962 !important; }
.default-color1-selected-chart-symbol { -fx-background-color: #db3f04 !important; }
.default-color2-selected-chart-symbol { -fx-background-color: #445c94 !important; }
.default-color3-selected-chart-symbol { -fx-background-color: #c9298a !important; }
.default-color4-selected-chart-symbol { -fx-background-color: #648d20 !important; }
.default-color5-selected-chart-symbol { -fx-background-color: #af8e00 !important; }
.default-color6-selected-chart-symbol { -fx-background-color: #c88b31 !important; }

.default-color-1-status-symbol { -fx-fill: #DDDDDD !important; }
.default-color0-status-symbol { -fx-fill: #a6cee3 !important; }
.default-color1-status-symbol { -fx-fill: #b2df8a !important; }
.default-color2-status-symbol { -fx-fill: #fb9a99 !important; }
.default-color3-status-symbol { -fx-fill: #fdbf6f !important; }
.default-color4-status-symbol { -fx-fill: #cab2d6 !important; }
.default-color5-status-symbol { -fx-fill: #ffff99 !important; }
.default-color6-status-symbol { -fx-fill: #b15928 !important; }
.default-color7-status-symbol { -fx-fill: #1f78b4 !important;  }
.default-color8-status-symbol { -fx-fill: #33a02c !important; }
.default-color9-status-symbol { -fx-fill: #e31a1c !important; }
.default-color10-status-symbol { -fx-fill: #ff7f00 !important; }
.default-color11-status-symbol { -fx-fill: #6a3d9a !important; }
.default-color12-status-symbol { -fx-fill: #1D616A !important; }
.default-color13-status-symbol { -fx-fill: #BB027D !important; }
.default-color14-status-symbol { -fx-fill: #5E3A0A !important; }
.default-color15-status-symbol { -fx-fill: #DB195A !important; }
.default-color16-status-symbol { -fx-fill: #BE610C !important; }
.default-color17-status-symbol { -fx-fill: #5D6B13 !important; }
.default-color18-status-symbol { -fx-fill: #8F329D !important; }
.default-color19-status-symbol { -fx-fill: #6EAAF7 !important; }
.default-color20-status-symbol { -fx-fill: #3B1719 !important; }
.default-color21-status-symbol { -fx-fill: #A6F5C2 !important; }
.default-color22-status-symbol { -fx-fill: #7BD3EE !important; }
.default-color23-status-symbol { -fx-fill: #F6A14E !important; }
.default-color24-status-symbol { -fx-fill: #17557B !important; }
.default-color25-status-symbol { -fx-fill: #F2558B !important; }
.default-color26-status-symbol { -fx-fill: #5B3689 !important; }
.default-color27-status-symbol { -fx-fill: #246012 !important; }
.default-color28-status-symbol { -fx-fill: #CBB813 !important; }
.default-color29-status-symbol { -fx-fill: #7CFE80 !important; }