* {
   -fx-chart-background-color: #FFFFFF;
   -fx-stroke-color: #BBBBBB;
   
   -fx-primary-color0: #66c2a5;
   -fx-primary-color1: #fc8d62;
   -fx-primary-color2: #8da0cb;
   -fx-primary-color3: #e78ac3;
   -fx-primary-color4: #a6d854;
   -fx-primary-color5: #ffd92f;
   -fx-primary-color6: #e5c494;
   
   -fx-secondary-color0: #36876d;
   -fx-secondary-color1: #fa5d1e;
   -fx-secondary-color2: #657eb8;
   -fx-secondary-color3: #d945a0;
   -fx-secondary-color4: #8cc82d;
   -fx-secondary-color5: #e0b700;
   -fx-secondary-color6: #d9aa63;
      
   -fx-category-color0: #6EAAF7;
   -fx-category-color1: #F2558B;
   -fx-category-color2: #F6A14E;   
   -fx-category-color3: #33a02c;
   -fx-category-color4: #6a3d9a;
   -fx-category-color5: #e31a1c;
   -fx-category-color6: #1D616A;   
   -fx-category-color7: #b15928;
   -fx-category-color8: #BB027D;
   -fx-category-color9: #5E3A0A;
   -fx-category-color10: #DB195A;
   -fx-category-color11: #BE610C;
   -fx-category-color12: #5D6B13;
   -fx-category-color13: #8F329D;
   -fx-category-color14: #1f78b4;
   -fx-category-color15: #ff7f00;
   -fx-category-color16: #3B1719;
   -fx-category-color17: #A6F5C2;
   -fx-category-color18: #7BD3EE;
   -fx-category-color19: #17557B;
   -fx-category-color20: #5B3689;
   -fx-category-color21: #246012;
   -fx-category-color22: #CBB813;
   -fx-category-color23: #7CFE80;
   -fx-category-color24: #a6cee3;
   -fx-category-color25: #b2df8a;
   -fx-category-color26: #fb9a99;
   -fx-category-color27: #fdbf6f;
   -fx-category-color28: #cab2d6;
   -fx-category-color29: #ffff99;
   
}

.chart, .chart-content, .chart-plot-background {
  -fx-background-color: -fx-chart-background-color;
}

.chart-symbol, .chart-line-symbol { 
  -fx-background-radius: 2px;
  -fx-padding: 2px;
  -fx-shape: "M0 0 L0 4 L4 4 L4 0 L0 0 Z";
}

.chart-legend-item-symbol{
  -fx-background-radius: 5px;
  -fx-padding: 5px;
}

.default-category-background  { 
  -fx-fill: -fx-chart-background-color;
  -fx-stroke: -fx-stroke-color;
  -fx-stroke-width: 1;
  -fx-stroke-dash-array: 5 5;
  -fx-stroke-dash-offset: 6;
  -fx-stroke-line-cap: butt;
}

.default-color0.chart-symbol, .default-color0.chart-line-symbol { 
  -fx-background-color: -fx-primary-color0;
}

.default-color1.chart-symbol, .default-color1.chart-line-symbol { 
  -fx-background-color: -fx-primary-color1;
}

.default-color2.chart-symbol, .default-color2.chart-line-symbol { 
  -fx-background-color: -fx-primary-color2;
}

.default-color3.chart-symbol, .default-color3.chart-line-symbol { 
  -fx-background-color: -fx-primary-color3;
}

.default-color4.chart-symbol, .default-color4.chart-line-symbol { 
  -fx-background-color: -fx-primary-color4;
}

.default-color5.chart-symbol, .default-color5.chart-line-symbol { 
  -fx-background-color: -fx-primary-color5;
}

.default-color6.chart-symbol, .default-color6.chart-line-symbol { 
  -fx-background-color: -fx-primary-color6;
}

.default-color0-fill  {
  -fx-fill: -fx-primary-color0;
}

.default-color1-fill  {
  -fx-fill: -fx-primary-color1;
}

.default-color2-fill  {
  -fx-fill: -fx-primary-color2;
}

.default-color3-fill  {
  -fx-fill: -fx-primary-color3;
}

.default-color4-fill  {
  -fx-fill: -fx-primary-color4;
}

.default-color5-fill  {
  -fx-fill: -fx-primary-color5;
}

.default-color6-fill  {
  -fx-fill: -fx-primary-color6;
}

.default-secondary-color0-fill {
  -fx-fill: -fx-secondary-color0 !important;
}

.default-secondary-color1-fill {
  -fx-fill: -fx-secondary-color1 !important;
}

.default-secondary-color2-fill {
  -fx-fill: -fx-secondary-color2 !important;
}

.default-secondary-color3-fill {
  -fx-fill: -fx-secondary-color3 !important;
}

.default-secondary-color4-fill {
  -fx-fill: -fx-secondary-color4 !important;
}

.default-secondary-color5-fill {
  -fx-fill: -fx-secondary-color5 !important;
}

.default-secondary-color6-fill {
  -fx-fill: -fx-secondary-color6 !important;
}

.default-color0.chart-series-line, .default-color0-stroke {
  -fx-stroke: -fx-primary-color0;
}

.default-color1.chart-series-line, .default-color1-stroke {
  -fx-stroke: -fx-primary-color1;
}

.default-color2.chart-series-line, .default-color2-stroke {
  -fx-stroke: -fx-primary-color2;
}

.default-color3.chart-series-line, .default-color3-stroke {
  -fx-stroke: -fx-primary-color3;
}

.default-color4.chart-series-line, .default-color4-stroke {
  -fx-stroke: -fx-primary-color4;
}

.default-color5.chart-series-line, .default-color5-stroke {
  -fx-stroke: -fx-primary-color5;
}

.default-color6.chart-series-line, .default-color6-stroke {
  -fx-stroke: -fx-primary-color6;
}

.default-secondary-color0-stroke {
  -fx-stroke: -fx-secondary-color0 !important;
}

.default-secondary-color1-stroke {
  -fx-stroke: -fx-secondary-color1 !important;
}

.default-secondary-color2-stroke {
  -fx-stroke: -fx-secondary-color2 !important;
}

.default-secondary-color3-stroke {
  -fx-stroke: -fx-secondary-color3 !important;
}

.default-secondary-color4-stroke {
  -fx-stroke: -fx-secondary-color4 !important;
}

.default-secondary-color5-stroke {
  -fx-stroke: -fx-secondary-color5 !important;
}

.default-secondary-color6-stroke {
  -fx-stroke: -fx-secondary-color6 !important;
}

.default-background-combined-shape { -fx-stroke: #282828 !important; -fx-fill: #494949 !important; }

.default-invalid-color { -fx-fill: #FF0000 !important; }

.default-category-color0 { -fx-fill: -fx-category-color0 !important; }
.default-category-color1 { -fx-fill: -fx-category-color1 !important; }
.default-category-color2 { -fx-fill: -fx-category-color2 !important; }
.default-category-color3 { -fx-fill: -fx-category-color3 !important; }
.default-category-color4 { -fx-fill: -fx-category-color4 !important; }
.default-category-color5 { -fx-fill: -fx-category-color5 !important; }
.default-category-color6 { -fx-fill: -fx-category-color6 !important; }
.default-category-color7 { -fx-fill: -fx-category-color7 !important;  }
.default-category-color8 { -fx-fill: -fx-category-color8 !important; }
.default-category-color9 { -fx-fill: -fx-category-color9 !important; }
.default-category-color10 { -fx-fill: -fx-category-color10 !important; }
.default-category-color11 { -fx-fill: -fx-category-color11 !important; }
.default-category-color12 { -fx-fill: -fx-category-color12 !important; }
.default-category-color13 { -fx-fill: -fx-category-color13 !important; }
.default-category-color14 { -fx-fill: -fx-category-color14 !important; }
.default-category-color15 { -fx-fill: -fx-category-color15 !important; }
.default-category-color16 { -fx-fill: -fx-category-color16 !important; }
.default-category-color17 { -fx-fill: -fx-category-color17 !important; }
.default-category-color18 { -fx-fill: -fx-category-color18 !important; }
.default-category-color19 { -fx-fill: -fx-category-color19 !important; }
.default-category-color20 { -fx-fill: -fx-category-color20 !important; }
.default-category-color21 { -fx-fill: -fx-category-color21 !important; }
.default-category-color22 { -fx-fill: -fx-category-color22 !important; }
.default-category-color23 { -fx-fill: -fx-category-color23 !important; }
.default-category-color24 { -fx-fill: -fx-category-color24 !important; }
.default-category-color25 { -fx-fill: -fx-category-color25 !important; }
.default-category-color26 { -fx-fill: -fx-category-color26 !important; }
.default-category-color27 { -fx-fill: -fx-category-color27 !important; }
.default-category-color28 { -fx-fill: -fx-category-color28 !important; }
.default-category-color29 { -fx-fill: -fx-category-color29 !important; }
